<div class="p-3 form-account">
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="employee-form">
    <div class="form-group">
      <label for="username" class="form-label require">Mã cán bộ</label>
      <div class="form-input">
        <input id="username" pInputText formControlName="username" [class.invalid]="isFieldInvalid('username')" />
        @if(isFieldInvalid('username')) {
        <div>
          <small class="p-error">Mã cán bộ là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="fullName" class="form-label require">Họ và tên</label>
      <div class="form-input">
        <input id="fullName" pInputText formControlName="fullName" [class.invalid]="isFieldInvalid('fullName')" />
        @if(isFieldInvalid('fullName')) {
        <div>
          <small class="p-error">Họ và tên là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="roleId" class="form-label require">Chức vụ</label>
      <div class="form-input">
        <p-dropdown id="roleId" formControlName="roleId" [options]="listRoles" [optionValue]="'value'"
          [optionLabel]="'label'" [class.invalid]="isFieldInvalid('roleId')">
        </p-dropdown>

        @if(isFieldInvalid('roleId')) {
        <div>
          <small class="p-error">Chức vụ là bắt buộc</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="phoneNumber" class="form-label require">Số điện thoại</label>
      <div class="form-input">
        <input id="phoneNumber" pInputText formControlName="phoneNumber"
          [class.invalid]="isFieldInvalid('phoneNumber')" />
        @if(isFieldInvalid('phoneNumber')) {
        <div>
          <small class="p-error">Số điện thoại là bắt buộc</small>
        </div>
        } @if(isPhoneNumberInvalid('phoneNumber')) {
        <div>
          <small class="p-error">Số điện thoại chỉ chấp nhận giá trị số</small>
        </div>
        }
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="form-label">Mật khẩu</label>
      <div class="form-input">
        <p-password id="password" formControlName="password" [style]="{ width: '100%' }">
        </p-password>
      </div>
    </div>
    <div class="flex justify-content-end">
      <button pRipple pButton severity="secondary" type="button" label="Huỷ"
        class="outline-none bg-none text-color mr-2" (click)="onCloseModal()"></button>
      <button pRipple pButton type="submit" [label]="isEditMode ? 'Cập nhật' : 'Tạo'"></button>
    </div>
  </form>
</div>